{% extends 'learning_logs/base.html' %}

{% block page_header %}
    <h4>{{topic}}</h4>
{% endblock page_header %}

{% block content %}

<p>
    <a href="{% url 'new_entry' topic.id %}">Add a New Entry</a>
</p>

{% for entry in entries %}
    <div class="card mb-3">
        <h4 class="card-header">
        {{ entry.date_added|date:'M d, Y h:i' }}
        <small><a href="{% url 'edit_entry' entry.id %}">edit Entry</a></small>
        </h4>
        <div class="card-body">
        {{ entry.text|linebreaks }}
    </div>
    </div>    
{% empty %}
    <p>There are no items in this topic yet</p>
{% endfor %}   


{% endblock content %}